In [120]:
import pandas as pd

In [121]:
data = pd.read_excel('../data/processed/new_clean_data.xlsx')

In [122]:
data = data.drop(columns=['month', 'year'])

In [123]:
data

,date,Carvao,Gas_Natural,Nuclear,Oleo,Hidreletricas_exceto_Itaipu,Itaipu,Biomassas,Eolicas,Solar_Fotovoltaica,Fora_do_SIN,Residuos_Industriais,Renovavel,Nao_Renovavel,Hidreletricas,Renovaveis_sem_Hidro,Total_sem_Hidro,Total
0,2000-08-01,627.496300,547.118200,672.390800,127.627800,20366.15590,7431.322900,0.00000,0.00000,0.00000,0.0,0.00000,27797.478800,1974.633100,27797.478800,0.00000,1974.633100,29772.111900
1,2000-09-01,397.343100,500.284800,781.171600,80.348230,19379.09209,8093.236840,0.00000,0.00000,0.00000,0.0,0.00000,27472.328930,1759.147730,27472.328930,0.00000,1759.147730,29231.476660
2,2000-10-01,337.300572,551.155034,537.460912,70.415993,22529.27722,7495.719297,0.00000,0.00000,0.00000,0.0,0.00000,30024.996517,1496.332511,30024.996517,0.00000,1496.332511,31521.329028
3,2000-11-01,489.986000,548.470000,1121.170800,100.395000,20175.47379,7448.224300,0.00000,0.00000,0.00000,0.0,0.00000,27623.698090,2260.021800,27623.698090,0.00000,2260.021800,29883.719890
4,2000-12-01,640.149800,673.443400,1221.245700,94.221500,19822.51809,7787.367770,0.00000,0.00000,0.00000,0.0,0.00000,27609.885860,2629.060400,27609.885860,0.00000,2629.060400,30238.946260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2020-02-01,1000.854960,3349.402560,948.641040,46.534560,32612.88960,5646.801120,309.88008,2710.30752,357.36816,0.0,838.10232,41637.246480,5345.433120,38259.690720,3377.55576,9561.091200,47820.781920
235,2020-03-01,643.321920,2616.893520,1282.120320,84.220800,35229.70944,5294.795040,451.83864,2215.23768,419.48208,0.0,832.03008,43611.062880,4626.556560,40524.504480,3086.55840,8545.145040,49069.649520
236,2020-04-01,202.917600,2068.552800,1358.755200,124.992000,28373.40000,3886.149600,759.34080,3039.06240,438.44400,0.0,759.37680,36496.396800,3755.217600,32259.549600,4236.84720,8751.441600,41010.991200
237,2020-05-01,478.778880,1965.848880,1481.690880,80.240400,26839.65120,4636.898160,973.07016,3764.50608,442.06992,0.0,774.74952,36656.195520,4006.559040,31476.549360,5179.64616,9960.954720,41437.504080
238,2020-06-01,610.747200,2387.793600,1037.253600,40.305600,25809.94800,4308.249600,1030.65120,4733.37360,432.62640,0.0,765.55440,36314.848800,4076.100000,30118.197600,6196.65120,11038.305600,41156.503200

In [124]:
data.columns

Index(['date', 'Carvao', 'Gas_Natural', 'Nuclear', 'Oleo',
       'Hidreletricas_exceto_Itaipu', 'Itaipu', 'Biomassas', 'Eolicas',
       'Solar_Fotovoltaica', 'Fora_do_SIN', 'Residuos_Industriais',
       'Renovavel', 'Nao_Renovavel', 'Hidreletricas', 'Renovaveis_sem_Hidro',
       'Total_sem_Hidro', 'Total'],
      dtype='object')

In [125]:
new_data = data.melt(id_vars=['date'], value_vars=['Carvao', 'Gas_Natural', 'Nuclear', 'Oleo',
       'Hidreletricas_exceto_Itaipu', 'Itaipu', 'Biomassas', 'Eolicas',
       'Solar_Fotovoltaica', 'Fora_do_SIN', 'Residuos_Industriais',
       'Renovavel', 'Nao_Renovavel', 'Hidreletricas', 'Renovaveis_sem_Hidro',
       'Total_sem_Hidro', 'Total'], var_name='Categorical_Sources', value_name='Values')

In [126]:
power_bi_data = new_data.sort_values('date').reset_index(drop=True)

In [127]:
power_bi_data.to_excel('../data/processed/power_bi_data.xlsx', index=False)

In [128]:
power_bi_data

           date   Categorical_Sources      Values
0    2000-08-01                Carvao    627.4963
1    2000-08-01             Renovavel  27797.4788
2    2000-08-01             Biomassas      0.0000
3    2000-08-01  Renovaveis_sem_Hidro      0.0000
4    2000-08-01                  Oleo    127.6278
...         ...                   ...         ...
4058 2020-06-01       Total_sem_Hidro  11038.3056
4059 2020-06-01                Carvao    610.7472
4060 2020-06-01  Residuos_Industriais    765.5544
4061 2020-06-01           Gas_Natural   2387.7936
4062 2020-06-01                 Total  41156.5032

[4063 rows x 3 columns]

In [129]:
power_bi_data.Categorical_Sources.unique()

array(['Carvao', 'Renovavel', 'Biomassas', 'Renovaveis_sem_Hidro', 'Oleo',
       'Hidreletricas_exceto_Itaipu', 'Hidreletricas', 'Eolicas', 'Total',
       'Nuclear', 'Gas_Natural', 'Residuos_Industriais', 'Itaipu',
       'Nao_Renovavel', 'Solar_Fotovoltaica', 'Total_sem_Hidro',
       'Fora_do_SIN'], dtype=object)

In [130]:
fontes = ['Carvao', 'Biomassas', 'Oleo', 'Hidreletricas_exceto_Itaipu', 'Eolicas', 'Fora_do_SIN'
           'Nuclear', 'Gas_Natural', 'Residuos_Industriais', 'Itaipu', 'Solar_Fotovoltaica']

In [131]:
power_bi_data['Fontes'] = power_bi_data.apply(lambda x: x.Categorical_Sources if x.Categorical_Sources in fontes else '', axis=1)   
power_bi_data['Agrupamentos '] = power_bi_data.apply(lambda x: x.Categorical_Sources if x.Categorical_Sources not in fontes else '', axis=1)

In [132]:
power_bi_data

,date,Categorical_Sources,Values,Fontes,Agrupamentos
0,2000-08-01,Carvao,627.4963,Carvao,
1,2000-08-01,Renovavel,27797.4788,,Renovavel
2,2000-08-01,Biomassas,0.0000,Biomassas,
3,2000-08-01,Renovaveis_sem_Hidro,0.0000,,Renovaveis_sem_Hidro
4,2000-08-01,Oleo,127.6278,Oleo,
...,...,...,...,...,...
4058,2020-06-01,Total_sem_Hidro,11038.3056,,Total_sem_Hidro
4059,2020-06-01,Carvao,610.7472,Carvao,
4060,2020-06-01,Residuos_Industriais,765.5544,Residuos_Industriais,
4061,2020-06-01,Gas_Natural,2387.7936,Gas_Natural,
4062,2020-06-01,Total,41156.5032,,Total

In [133]:
power_bi_data.to_excel('../data/processed/power_bi_data_.xlsx', index=False)